$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$backGroundColor: #f7faff;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $backGroundColor;
}

h1{
  font: 100% $font-stack;
  border:none;
}