$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$backGroundColor: #f7faff;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $backGroundColor;
}

h1{
  font: 100% $font-stack;
  border:none;
}

.daren{
  background-color: rgb(0,0,0) !important;
}
.bookTorn{
  background: url('assets/1600.png') left top no-repeat;
  font-family:'Times New Roman', Times, serif;
  min-height: 216px;
  color: #f4c548 !important;
}

.bookTorn h1{
  font-style: italic;
}

.book{
  background: silver;
  border-radius:10px;
}