body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  background-color: #f7faff;
  box-sizing: border-box; }

h1 {
  font: 100% Helvetica, sans-serif;
  border: none; }

.book {
  background: silver;
  border-radius: 10px; }
